#ENV{DEVTYPE}=="partition", RUN+="/lib/udev/storage-automount.sh", ENV{REMOVE_CMD}="/lib/udev/storage-autounmount.sh"
SUBSYSTEMS=="scsi", ENV{DEVTYPE}=="partition", ENV{ID_FS_LABEL}=="PIWALL", RUN+="/lib/udev/storage-automount.sh", ENV{REMOVE_CMD}="/lib/udev/storage-autounmount.sh"
